.task {
    margin: 3%;
    padding: 1%;
}

.solution {
    margin: 3%;
    padding: 1%;
    display: flex;
    align-items: stretch;
}

.solution-item {
    margin: 3%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

.solution-title {
    text-align: left;
    margin: 0 0 10px;
}

#clock {
    font-family: monospace;
    font-size: 32px;
}

.form-item {
    padding-top: 10px;
}

.container-banner {
    display: flex;
    justify-content: left;
}

#banner-1 {
    box-shadow: var(--shadow);
    border-radius: 5px;
    width: 200px;
    background-color: var(--primary-red);
    color: var(--light);
    font-size: 42px;
    text-align: center;
    padding: 30px 100px;
    margin-bottom: 20px;
}

#banner-2 {
    box-shadow: var(--shadow);
    border-radius: 5px;
    width: 200px;
    background-color: var(--primary-green);
    color: var(--light);
    font-size: 42px;
    text-align: center;
    padding: 30px 100px;
    animation: move 10s linear infinite;
    animation-direction: alternate;
}

@keyframes move {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: calc(100% - 400px);
    }
    100% {
        margin-left: 0;
    }
}

/*================Календарь===============*/

.calendar-wrapper {
    width: 220px;
    border: 2px solid #c0c0c0;
}
#calendar {
    width: 100%;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    border-spacing: 0;
}
#calendar thead tr.month-year td {
    font-weight: bold;
}
#calendar tbody td {
    color: var(--primary-blue);
}
#calendar tbody td:nth-child(n+6),
#calendar .holiday {
    color: var(--primary-red);
}
#calendar tbody td.today {
    background: red;
    color: var(--light);
}